* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#top {
  height: 80vh;
  display: flex;
}

#left,
#right {
  height: 100%;
}
#center {
  height: 100%;
  flex: 1;
}

#star-count {
  font-size: 2rem;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#stars {
  margin: 10px;
}

#themes {
  height: 85%;
}

.top-buttons {
  height: 25%;
  aspect-ratio: 1;
  border: 4px outset black;
  display: block;
}

#bottom {
  height: 20vh;
}

.song-buttons {
  height: 100%;
  width: 20%;
  border: 4px outset black;
}