* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, hsl(140, 75%, 40%), hsl(140, 75%, 30%), hsl(140, 75%, 20%));
  height: 100vh;
  padding: 25px;
}

h1 {
  -webkit-text-stroke: 2px hsl(0, 70%, 25%);
  background: -webkit-linear-gradient(hsl(0, 70%, 65%), hsl(0, 90%, 35%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 15px;
}

#content-container {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.ornament-box {
  height: 200px;
  width: 200px;
  border: 6px solid hsl(140, 90%, 15%);
  box-shadow: 10px 10px 10px hsla(140, 75%, 10%);
  margin: -3px;
  flex: none;
}