* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#back-button {
  background-color: hsl(120, 50%, 55%);
  height: 4rem;
  width: 6rem;
  border: 4px outset hsl(120, 50%, 75%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

#back-button img {
  height: 3rem;
}

#cover-screen {
  height: 100vh;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

  #closed-book-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

    #cover-image {
      width: 75%;
    }

    #cover-animal-image {
      height: auto;
      width: 100%;
      max-width: 20%;
      position: fixed;
      z-index: 1;
    }

#cover-options-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

  #cover-options-message {
    font-size: 2.5rem;
  }

  #cover-options {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  #cover-options div {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #cover-options h3 {
    font-size: 2rem;
    margin: 0.5rem;
  }

  #cover-options button {
    background-color: hsl(0, 0%, 50%);
    height: 8rem;
    width: 8rem;
    border: 0.3rem hsl(0, 0%, 70%) groove;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #cover-options img {
    object-fit: contain;
    height: 10rem;
    max-height: 80%;
    max-width: 80%;
    border-radius: 25%;
  }

  #cover-options-proceed-button,
  #page-options-proceed-button {
    background: linear-gradient(90deg,rgba(156, 109, 163, 1) 0%, rgba(120, 126, 171, 1) 15%, rgba(120, 171, 165, 1) 30%, rgba(147, 186, 143, 1) 45%, rgba(181, 176, 130, 1) 60%, rgba(212, 177, 142, 1) 77%, rgba(209, 157, 157, 1) 90%, rgba(199, 157, 199, 1) 100%);
    font-size: 2rem;
    padding: 1rem;
    border: 0.3rem outset;
  }

  #cover-options-proceed-button:hover,
  #page-options-proceed-button:hover {
    background: linear-gradient(90deg,rgba(164, 58, 180, 1) 0%, rgba(48, 69, 173, 1) 15%, rgba(42, 196, 178, 1) 30%, rgba(55, 218, 37, 1) 45%, rgba(252, 243, 69, 1) 60%, rgba(252, 154, 52, 1) 75%, rgba(253, 39, 39, 1) 90%, rgba(253, 29, 253, 1) 100%);
  }

#page-screen {
  background-image: url("./img/page/paper-texture.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

  #top-border,
  #bottom-border,
  #right-border,
  #left-border {
    background-color: #f44034;
    position: fixed;
    z-index: 1;
  }

  #top-border {
    min-height: 4rem;
    min-width: 200vw;
    top: 0;
  }

  #bottom-border {
    min-height: 4rem;
    min-width: 200vw;
    bottom: 0;
  }

  #right-border {
    min-height: 200vh;
    min-width: 6rem;
    right: 0;
  }

  #left-border {
    min-height: 200vh;
    min-width: 6rem;
    left: 0;
  }

  #story-container p {
    font-size: 2.5rem;
  }

  .story-button {
    font-size: 2.5rem;
  }

  #page-options-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  #page-options-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  #page-options-container h3 {
    font-size: 2rem;
  }

  #page-options-container img {
    max-height: 20vh;
    max-width: 30vw;
  }

  #page-options-proceed-button {
    margin: auto auto 0 auto;
  }

.inactive {
  display: none !important;
}

.pink {
  filter: saturate(75%) hue-rotate(315deg) contrast(100%) brightness(2.5);
}

.red {
  filter: saturate(100%) hue-rotate(355deg) contrast(130%) brightness(0.9);
}

.orange {
  filter: saturate(150%) hue-rotate(45deg) contrast(130%) brightness(1.5);
}

.yellow {
  filter: saturate(150%) hue-rotate(55deg) contrast(130%) brightness(2.5);
}

.green {
  filter: saturate(100%) hue-rotate(85deg) contrast(130%) brightness(1.2);
}

.blue {
  filter: saturate(100%) hue-rotate(200deg) contrast(130%) brightness(1.2);
}

.indigo {
  filter: saturate(100%) hue-rotate(250deg) contrast(100%) brightness(0.9);
}

.purple {
  filter: saturate(100%) hue-rotate(280deg) contrast(100%) brightness(1);
}

.white {
  filter: saturate(0%) hue-rotate(0deg) contrast(150%) brightness(2.8);
}

.grey {
  filter: saturate(0%) hue-rotate(0deg) contrast(130%) brightness(1.5);
}

.black {
  filter: saturate(0%) hue-rotate(0deg) contrast(200%) brightness(0.5);
}

.brown {
  filter: saturate(60%) hue-rotate(30deg) contrast(100%) brightness(1);
}