* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./img/background.png");
  background-size: 100vw 100vh;
  overflow: hidden;
  user-select: none;
  -webkit-user-drag: none;
}

#back-button {
  background-color: hsl(120, 50%, 55%);
  height: 4rem;
  width: 6rem;
  border: 4px outset hsl(120, 50%, 75%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

#back-button img {
  height: 3rem;
}

.cover-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 2;
}

#leaves img {
  height: 200px;
  position: absolute;
}

#leaf-1 {
  top: 60%;
  right: 19%;
}

#leaf-2 {
  top: 30%;
  right: 37%;
}

#leaf-3 {
  bottom: 5%;
  right: 3%;
}

#leaf-4 {
  bottom: 15%;
  left: 6%;
}

#leaf-5 {
  top: 40%;
  left: 21%;
}

hr {
  width: 50px;
  border-color: transparent;
  border-right-color: rgba(255, 255, 255, 0.7);
  border-right-width: 50px;
  position: absolute;
  bottom: 100%;
  transform-origin: 100% 50%;
  animation-name: rain;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rain {
  from {
    transform: rotate(105deg) translateX(0);
  } 
  to {
    transform: rotate(105deg) translateX(calc(100vh + 20px));
  }
}

#totoro-1,
#totoro-2,
#totoro-3,
#totoro-4,
#totoro-5 {
  position: absolute; 
  width: 256px; 
  height: 256px; 
  animation: totoro .6s steps(6) infinite; 
  z-index: 1; 
}


#totoro-1 { 
  top: 45%;
  right: 17%;
  background-image: url("./img/totoro-idle.png");
} 

#totoro-2 { 
  top: 15%;
  right: 35%;
  background-image: url("./img/totoro-idle.png");
} 

#totoro-3 {
  bottom: 14%;
  right: 1%;
  background-image: url("./img/totoro-idle.png");
}

#totoro-4 {
  bottom: 26%;
  left: 5%;
  background-image: url("./img/totoro-idle.png");
}

#totoro-5 {
  top: 25%;
  left: 21%;
  background-image: url("./img/totoro-idle.png");
}

@keyframes totoro { 
  100%{ background-position: -1536px 0; }; 
} 

.hidden {
  display: none;
}