* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./img/background.png");
  background-size: 100vw 100vh;
  overflow: hidden;
  user-select: none;
  -webkit-user-drag: none;
}

#back-button {
  background-color: hsl(120, 50%, 55%);
  height: 4rem;
  width: 6rem;
  border: 4px outset hsl(120, 50%, 75%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

#back-button img {
  height: 3rem;
}

.cover-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 2;
}

#leaves img {
  height: 200px;
  position: absolute;
}

#leaf-1 {
  top: 60%;
  right: 19%;
}

#leaf-2 {
  top: 30%;
  right: 37%;
}

#leaf-3 {
  bottom: 5%;
  right: 3%;
}

#leaf-4 {
  bottom: 15%;
  left: 6%;
}

#leaf-5 {
  top: 40%;
  left: 21%;
}

hr {
  width: 50px;
  border-color: transparent;
  border-right-color: rgba(255, 255, 255, 0.7);
  border-right-width: 50px;
  position: absolute;
  bottom: 100%;
  transform-origin: 100% 50%;
  animation-name: rain;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rain {
  from {
    transform: rotate(105deg) translateX(0);
  } 
  to {
    transform: rotate(105deg) translateX(calc(100vh + 20px));
  }
}

#totoro-1,
#totoro-2,
#totoro-3,
#totoro-4,
#totoro-5 {
  position: absolute; 
  width: 250px; 
  height: 250px; 
  animation: totoro .5s steps(5) infinite; 
  z-index: 1; 
}


#totoro-1 { 
  background-image: url("./img/totoro-sprite-1.png");
  top: 46%;
  right: 18%;
} 

#totoro-2 { 
  background-image: url("./img/totoro-sprite-2.png");
  top: 15%;
  right: 36%;
} 

#totoro-3 {
  background-image: url("./img/totoro-sprite-3.png");
  bottom: 14%;
  right: 1%;
}

#totoro-4 {
  background-image: url("./img/totoro-sprite-4.png");
  bottom: 26%;
  left: 6%;
}

#totoro-5 {
  background-image: url("./img/totoro-sprite-5.png");
  top: 25%;
  left: 20%;
}

@keyframes totoro { 
  100%{ background-position: -1253px 0; }; 
} 

#raindrop-a,
#raindrop-b,
#raindrop-c,
#raindrop-d,
#raindrop-e {
  position: absolute;
}

#raindrop-a {
  background-image: url("./img/raindrop-a.png");
  width: 137px; 
  height: 480px;
  bottom: 26%;
  left: 6%; 
  animation: raindropA 1.5s steps(49) infinite; 
}

@keyframes raindropA { 
  100%{ background-position: -6713px 0; }; 
} 

#raindrop-b {
  background-image: url("./img/raindrop-b.png");
  width: 600px; 
  height: 450px;
  bottom: 26%;
  left: 6%; 
  animation: raindropB .5s steps(11) infinite; 
}

@keyframes raindropB { 
  100%{ background-position: -6600px 0; }; 
} 

#raindrop-c {
  background-image: url("./img/raindrop-c.png");
  width: 640px; 
  height: 480px;
  bottom: 26%;
  left: 6%; 
  animation: raindropC .5s steps(12) infinite; 
}

@keyframes raindropC { 
  100%{ background-position: -7680px 0; }; 
} 

#raindrop-d {
  background-image: url("./img/raindrop-d.png");
  width: 1216px; 
  height: 1216px;
  bottom: 26%;
  left: 6%; 
  animation: raindropD .5s steps(13) infinite; 
}

@keyframes raindropD { 
  100%{ background-position: -15808px 0; }; 
} 

#raindrop-e {
  background-image: url("./img/raindrop-e.png");
  width: 640px; 
  height: 480px;
  bottom: 26%;
  left: 6%; 
  animation: raindropE .5s steps(15) infinite; 
}

@keyframes raindropE { 
  100%{ background-position: -9600px 0; }; 
} 

.hidden {
  display: none;
}