* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./img/background.png");
  background-size: 100vw 100vh;
  overflow: hidden;
  user-select: none;
  -webkit-user-drag: none;
}

#back-button {
  background-color: hsl(120, 50%, 55%);
  height: 4rem;
  width: 6rem;
  border: 4px outset hsl(120, 50%, 75%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

#back-button img {
  height: 3rem;
}

.cover-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 4;
}

#leaves img {
  height: 200px;
  position: absolute;
  z-index: 2;
}

#leaf-1 {
  top: 60%;
  right: 19%;
}

#leaf-2 {
  top: 30%;
  right: 37%;
}

#leaf-3 {
  bottom: 5%;
  right: 3%;
}

#leaf-4 {
  bottom: 15%;
  left: 6%;
}

#leaf-5 {
  top: 40%;
  left: 21%;
}

hr {
  width: 50px;
  border-color: transparent;
  border-right-color: rgba(255, 255, 255, 0.7);
  border-right-width: 50px;
  position: absolute;
  bottom: 100%;
  transform-origin: 100% 50%;
  animation-name: rain;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rain {
  from {
    transform: rotate(105deg) translateX(0);
  } 
  to {
    transform: rotate(105deg) translateX(calc(100vh + 20px));
  }
}

#totoro-1,
#totoro-2,
#totoro-3,
#totoro-4,
#totoro-5 {
  position: absolute; 
  width: 250px; 
  height: 250px; 
  animation: totoro .5s steps(5) infinite; 
  z-index: 3; 
}


#totoro-1 { 
  background-image: url("./img/totoro-sprite-1.png");
  top: 46%;
  right: 18%;
} 

#totoro-2 { 
  background-image: url("./img/totoro-sprite-2.png");
  top: 15%;
  right: 36%;
} 

#totoro-3 {
  background-image: url("./img/totoro-sprite-3.png");
  bottom: 14%;
  right: 1%;
}

#totoro-4 {
  background-image: url("./img/totoro-sprite-4.png");
  bottom: 26%;
  left: 6%;
}

#totoro-5 {
  background-image: url("./img/totoro-sprite-5.png");
  top: 25%;
  left: 20%;
}

@keyframes totoro { 
  100%{ background-position: -1253px 0; }; 
} 

#raindrop-1,
#raindrop-2,
#raindrop-3,
#raindrop-4,
#raindrop-5 {
  position: absolute;
  z-index: 1;
}

#raindrop-1 {
  background-image: url("./img/raindrop-1.png");
  width: 640px; 
  height: 480px;
  top: 64%;
  right: 12%;
  animation: raindrop1 .5s steps(15) infinite; 
}
/* middle right leaf, leaf-1 */

@keyframes raindrop1 { 
  100%{ background-position: -9600px 0; }; 
} 

#raindrop-2 {
  background-image: url("./img/raindrop-2.png");
  width: 137px; 
  height: 480px;
  top: 34%;
  right: 41%;
  animation: raindrop2 1.5s steps(49) infinite; 
}
/* top leaf, leaf-2 */

@keyframes raindrop2 { 
  100%{ background-position: -6713px 0; }; 
} 

#raindrop-3 {
  background-image: url("./img/raindrop-3.png");
  width: 260px; 
  height: 195px;
  bottom: -1%;
  right: 3%;
  animation: raindrop3 .5s steps(11) infinite; 
}
/* bottom right leaf, leaf-3*/

@keyframes raindrop3 { 
  100%{ background-position: -2860px 0; }; 
} 

#raindrop-4 {
  background-image: url("./img/raindrop-4.png");
  width: 260px; 
  height: 260px;
  bottom: 8%;
  left: 6%; 
  animation: raindrop4 .5s steps(13) infinite; 
}
/* bottom left leaf, leaf-4 */

@keyframes raindrop4 { 
  100%{ background-position: -3380px 0; }; 
} 

#raindrop-5 {
  background-image: url("./img/raindrop-5.png");
  width: 640px; 
  height: 480px;
  top: 48%;
  left: 13%;
  animation: raindrop5 .5s steps(12) infinite; 
}
/* second highest leaf, leaf-5 */

@keyframes raindrop5 { 
  100%{ background-position: -7680px 0; }; 
} 

.hidden {
  display: none;
}