* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./img/background.png");
  background-size: 100vw 100vh;
}

#back-button {
  background-color: hsl(120, 50%, 55%);
  height: 4rem;
  width: 6rem;
  border: 4px outset hsl(120, 50%, 75%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

#back-button img {
  height: 3rem;
}

#leaves img {
  height: 200px;
  position: absolute;
}

#leaf-1 {
  top: 60%;
  right: 19%;
}

#leaf-2 {
  top: 30%;
  right: 37%;
}

#leaf-3 {
  bottom: 5%;
  right: 3%;
}

#leaf-4 {
  bottom: 15%;
  left: 6%;
}

#leaf-5 {
  top: 40%;
  left: 21%;
}

/* #sprite { 
  position: absolute; 
  top: 9rem; 
  left: 15rem; 
  width: 256px; 
  height: 256px; 
  background-image: url("./img/totoro-idle.png");
  animation: sprite .6s steps(6) infinite; 
  z-index: 1; 
} 

@keyframes sprite { 
  100%{ background-position: -1536px 0; }; 
} */