* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#back-button {
  background-color: hsl(120, 50%, 55%);
  height: 4rem;
  width: 6rem;
  border: 4px outset hsl(120, 50%, 75%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

#back-button img {
  height: 3rem;
}

#leaves img {
  height: 100px;
  position: absolute;
}

#leaf-1 {
  top: 15rem;
  left: 5rem;
}

#leaf-2 {
  top: 5rem;
  left: 15rem;
}

#leaf-3 {
  bottom: 15rem;
  right: 5rem;
}

#leaf-4 {
  bottom: 5rem;
  right: 15rem;
}

#leaf-5 {
  top: 20rem;
  left: 20rem;
}

#sprite { 
  position: absolute; 
  top: 9rem; 
  left: 15rem; 
  width: 256px; 
  height: 256px; 
  background-image: url("./img/totoro-idle.png");
  animation: sprite .6s steps(6) infinite; 
  z-index: 1; 
} 

@keyframes sprite { 
  100%{ background-position: -1536px 0; }; 
}